*{margin: 0; padding: 0; border: 0; outline: none}

header {
  background-image: url("./img/slides.png");
  height: 775px;
}

.header-text {
  width: 64%;
  margin: 0 auto;
}

.top-header {
  background-image: url("./img/JAL_layer.png");
  background-repeat: no-repeat;
  margin-top: 5px;
  height: 72px;
  width: 190px;
  border-bottom: 1px solid rgb(86, 86, 86);
}

.header-info {
  margin-top: 25px; 
}

.header-info span {
  float: right;
  margin-left: 10px;
}

.fa-envelope-o, .fa-phone {
  background-color: white; 
  border-radius: 60px;
  padding: 0.25em 0.3em;
  display: inline-block;
}

/*need to work on the font here
  it's from the robot family supposedly
*/
.header-info p {
  font-size: 14px;
  color: rgb(255, 132, 0);
  font-weight: bold;
  display: inline-block;
  margin-left: 5px; 
}

.nav-bar {
  height: 90px;
}

.slider {
  height: 445px;
}

/* add notes: i wasn't aware of any slider that can provide that level for free. I know of soliloquoy slider,
but the lightbox is an extra add-on */
/*this is another area that I want to fix up with the easy google fonts*/
.security-text {
  color: white;
  margin-top: 75px; 
}

.security-text h2 {
  margin-left: 25px;
  font-size: 48px; 
}

.security-text h1 {
  font-size: 85px; 
  margin-left: 45px; 
}

/* again something else to try ez google fonts with*/
.security-text p {
  color: white;
  margin-left: 25px;
  font-size: 15px; 
}

.btn-what {
  margin-top: 60px; 
  margin-left: 25px; 
  border-radius: 25px; 
  width: 170px;
  height: 50px;
  color: rgb(255, 132, 0);
}

/*add some ez google font*/
.btn-transparent {
  margin-top: 60px; 
  margin-left: 25px; 
  border: 1px solid white;
  border-radius: 25px; 
  width: 170px;
  height: 50px;
  margin-left: 10px; 
  background-color:rgba(0, 0, 0, 0);
  color: white;
}

.free-quote-form {
  width: 320px;
  margin-left: 34px;
}

.top {
  height: 45px;
  background-color: rgb(245, 132, 31);
  color: rgb(255, 254, 253);
}

.top p {
  padding-top: 12px;
}

/*this may have to change with ez google fonts*/
.contact-us {
  margin-left: 22px; 
  font-size: 14px;
}

.middle-form {
  height: 370px;
  background-color: rgb(99, 99, 99);
}

/* I think the font-size will have to be handled by EZ google fonts*/
.middle-form h3 {
  padding-top: 36px;
  margin-left: 22px;
  color: rgb(199, 199, 199);
  font-size: 30px;
}

.yellow-words, .yellow-number {
  color: rgb(245, 132, 31);
}

/*ez google fonts..change with montserrant*/
.middle-form p {
  margin-left: 22px;
  color: rgb(199, 199, 199);
  font-size: 11px;
  margin-right: 15px;
  margin-bottom: 28px;
}

.form-group {
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 12px;
}

.form-control {
  height: 39px;
}

.free-quote-bottom {
  height: 47px; 
  background-color: rgb(19, 107, 173);
}

/* again another font that needs to be changed */

.free-quote-bottom p {
  margin-left: 22px; 
  padding-top: 13px;
  font-size: 13px;
  color: white;
  display: inline-block;
}

.fa-chevron-circle-right {
  background-color: white;
  color: rgb(19, 107, 173);
  border-radius: 60px;
  border: .25px solid white;
  display: inline-block;
  margin-left: 5px; 
}

.about-us {
  display: inline;
  width: 1440px; 
}

.about-us-text {
  margin-left: 280px;
  width: 543px;
  display: inline-block;
}

.adt-dealer {
  display: inline-block;
  height: 540px;
  width: 597px;
  background-image: url("./img/adt.png")
}




